
.container{
    width: 80%;
    max-width: 1111px;

    margin: 0 auto;
}

@media(max-width: 1100px){
  .container{
    width: 90%;
  }
}


.gray-shape__left__container{
    position: relative;
    /* width: 100%;
    max-width: 1440px; */
  
    /* height: 100px;5 */
    z-index: -1;
  }
  .gray-shape__left__container__content{
    background: var(--light-grey);
    width: 80%;
    max-width: 1006px;
    height: 594px;
    border-top-left-radius: 297px;
    border-top-right-radius: 297px;
    border-bottom-right-radius: 297px;
    position: absolute;
    top: 220px;
    left: 0%;
  }


  @media (max-width: 768px) {
    .gray-shape__left__container{
      visibility: hidden;
    }
  }