

.container{
  width: 80%;
  max-width: 1111px;
  margin: auto;

  /* color: var(--peach) */
}


.hero{
  background-color: var(--peach);
  /* background-image: url('/assets/home/desktop/bg-pattern-hero-home.svg'); */
  border-radius: 15px;
  width: 100%;
  height: 640px;
  position: relative;
  color: white;
}

/* .hero img {
  position: absolute;
  right: 0;
} */

.hero__circle{
  position: absolute;
  right: 0;
}

.hero__content{
  display: flex;
}

/* .hero__content img{
  width: 284px;
  height: 573px;
} */


.projects{
  width: 100%;
  height: 640px;
  /* max-height: 640px; */
  /* background: black; */
  display: flex;
  margin-top: 300px;
  margin-bottom: 300px;
  justify-content: space-between;
  flex-wrap: wrap;

}

.projects__item-1{
  /* background: url('/assets/home/desktop/image-web-design-large.jpg')  no-repeat; */
  /* background-size: cover; */
  border-radius: 15px;
  height: 640px;
  width: 541px;
  overflow: hidden;
}

.projects__item-1 img{
  position: relative;
  height: 100%;
  width: 541px;
}

.projects__item-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects__item-2 img{
  border-radius: 15px;
  height: 100%;
}

.three-circle-cards{
  display: flex;
  justify-content: space-between;
  background: url('/assets/shared/desktop/bg-pattern-two-circles.svg') no-repeat bottom right;
  margin-bottom: 160px;
}

.three-circle-cards__single{
  display: flex;
  flex-direction: column;
  max-width: 350px;
  text-align: center;
  justify-content: center;
  align-content: center;
  /* margin: auto; */
}

.three-circle-cards__single img{
  max-width: 205px;
  max-height: 205px;
  background: url('/assets/shared/desktop/bg-pattern-small-circle.svg');
  margin: auto;
}