

.container{
  width: 80%;
  max-width: 1111px;
  margin: auto;
  position: relative;
  /* overflow: hidden; */

  /* color: var(--peach) */
}


.hero{
  background-color: var(--peach);
  /* background-image: url('/assets/home/desktop/bg-pattern-hero-home.svg'); */
  border-radius: 15px;
  width: 100%;
  height: 640px;
  position: relative;
  color: white;
  overflow: hidden;
  display: flex;
  padding: 0 95px;
  justify-content: space-between;

}

.hero h1{
  
}
/* .hero img {
  position: absolute;
  right: 0;
} */

.hero__circle{
  position: absolute;
  right: 0;
}

.hero__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;

}

.hero__content h1{
  width: 540px;

}

.hero__content a{
  background: white;
  color: black;
  height: 56px;
  width: 152px;
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 40px;
}

/* .hero__phone{
  overflow: hidden;
} */
.hero__phone img{
  /* position: relative;
  top: 0; */
  /* position: relative; */
  margin-left: -20%;
  margin-top: -20px;
  width: 320px;
  /* margin-right: -150px; */
  /* margin: 0; */
}
/* .hero__content img{
  width: 284px;
  height: 573px;
} */


.projects{
  width: 100%;
  /* height: 640px; */
  /* max-height: 640px; */
  /* background: black; */
  display: flex;
  margin-top: 160px;
  margin-bottom: 160px;
  justify-content: space-between;
  /* flex-wrap: wrap; */

}

.projects__item-1{
  /* background: url('/assets/home/desktop/image-web-design-large.jpg')  no-repeat; */
  /* background-size: cover; */
  border-radius: 15px;
  height: 640px;
  position: relative;
  /* width: 541px; */
  /* overflow: hidden; */
  text-align: center;
}

.projects__item-1__content{

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  color: white;
  left: 0%;
  display: grid;
  justify-content: center;
  align-content: center;
}
.projects__item-1__content:hover{
  background: rgba(231, 129, 107, 0.5);
  cursor: pointer;
  border-radius: 15px;

}

/* .projects__item-1__content p{
  margin: 0;
} */
.projects__item-1 img{
  border-radius: 15px;

}

.projects__item-1 img{
  position: relative;
  height: 100%;
  width: 100%;
}

.projects__item-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  /* flex-shrink: 1; */
}
/* 
.projects__item-2__content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  color: white;
  left: 0%;
  display: grid;
  justify-content: center;
  align-content: center;
} */

.projects__item-2__top{
  width: 100%;
  /* height: 100%; */
  position: relative;
  top: 0%;
  color: white;
  left: 0%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.projects__item-2 img{
  border-radius: 15px;
  height: 308px;
  width: 541px;
}
.projects__item-2__top__content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  color: white;
  left: 0%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.projects__item-2__top__content:hover{
  background: rgba(231, 129, 107, 0.5);
  cursor: pointer;
  border-radius: 15px;
}



.projects__item-2__bottom{
  width: 100%;
  /* height: 100%; */
  position: relative;
  top: 0%;
  color: white;
  left: 0%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.projects__item-2__bottom__content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  color: white;
  left: 0%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.projects__item-2__bottom__content:hover{
  background: rgba(231, 129, 107, 0.5);
  cursor: pointer;
  border-radius: 15px;
}
/* .projects__item-2 img{
  border-radius: 15px;
  height: 100%;
  width: 100%;
} */

.three-circle-cards{
  display: flex;
  justify-content: space-between;
  /* background: url('/assets/shared/desktop/bg-pattern-two-circles.svg') no-repeat bottom right; */
  margin-bottom: 160px;
}

.three-circle-cards__single{
  display: flex;
  flex-direction: column;
  max-width: 350px;
  text-align: center;
  justify-content: center;
  align-content: center;
  /* margin: auto; */
}

.three-circle-cards__single img{
  max-width: 205px;
  max-height: 205px;
  background: url('/assets/shared/desktop/bg-pattern-small-circle.svg');
  margin: auto;
}


.gray-shape__left__container{
  position: relative;
  /* width: 100%;
  max-width: 1440px; */

  /* height: 100px;5 */
  z-index: -1;
}
.gray-shape__left__container__content{
  background: var(--light-grey);
  width: 80%;
  max-width: 1006px;
  height: 594px;
  border-top-left-radius: 297px;
  /* border-bottom-left-radius: 297px; */
  border-bottom-right-radius: 297px;
  position: absolute;
  top: 400px;
  left: 0%;
}


.gray-shape__right__container{
  position: relative;

  /* width: 20px; */
  /* height: 20px; */
  /* background: red; */
  width: 100vw;
  /* max-width: 1440px; */

  /* height: 100px;5 */
  z-index: -1;
}
.gray-shape__right__container__content{
  background: var(--light-grey);
  width: 80%;
  max-width: 1006px;
  height: 594px;
  border-top-left-radius: 297px;
  border-bottom-left-radius: 297px;
  border-bottom-right-radius: 297px;
  position: absolute;
  top: -450px;
  right: 00%;
}