.locations{
    display: flex;
    justify-content: space-around;
    text-align: center;

}


.locations img{
    background: url('/assets/shared/desktop/bg-pattern-small-circle.svg');

}


.locations button{
    background: var(--peach);
    border: none;
    color: white;
    width: 152px;
    height: 56px;
    border-radius: 5px;
}

.locations button:hover{
    background-color: var(--light-peach);
    cursor: pointer;
}
.locations div{
    margin: 46px 0 32px 0;
}


@media(max-width: 768px){
    .locations{
        flex-direction: column;
    }
}